# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.DS_Store
ipch
Debug
Release
bin
obj
*.opensdf
*.sdf

xcuserdata

#Added for the bridgeptm-content project - taken from mupdf
*~
.*.swp
.vimrc
build
DerivedData
generated
cscope.*
*.pdf
*.pnm
tags
TAGS
*.xcworkspace
*.xcuserdatad
Src/bridgeptm-content/platform/win32/*.user
Src/bridgeptm-content/platform/win32/*.ncb
Src/bridgeptm-content/platform/win32/*.suo
Src/bridgeptm-content/platform/win32/Debug
Src/bridgeptm-content/platform/win32/DebugOpenssl
Src/bridgeptm-content/platform/win32/Profile
Src/bridgeptm-content/platform/win32/Release
Src/bridgeptm-content/platform/win32/ReleaseOpenssl
Src/bridgeptm-content/platform/win32/Memento
Src/bridgeptm-content/thirdparty/v8-3.9
Src/bridgeptm-content/thirdparty/openssl
Src/bridgeptm-content/platform/android/obj
Src/bridgeptm-content/platform/android/bin
Src/bridgeptm-content/platform/android/libs
Src/bridgeptm-content/platform/android/gen
Src/bridgeptm-content/platform/android/local.properties
Src/bridgeptm-content/platform/android/.classpath
Src/bridgeptm-content/platform/android/.project
Src/bridgeptm-content/platform/android/.settings
Src/bridgeptm-content/docs/browse
